In [10]:
import pandas as pd
import numpy as np

Fuel required to launch a given module is based on its mass. Specifically, to find the fuel required for a module, take its mass, divide by three, round down, and subtract 2.

In [11]:
day1 = pd.read_csv('aoc-day-1 - Sheet1.csv')

In [13]:
day1.head()

     mass
0  141589
1   93261
2  104320
3   81961
4   99212

In [21]:
day1['calulated'] = day1['mass']//3 - 2
day1.head()

     mass  calulated
0  141589      47194
1   93261      31085
2  104320      34771
3   81961      27318
4   99212      33068

In [22]:
day1['calulated'].sum()

3420719

In [48]:
def more_mass(calculated):
    new_calculated = calculated
    while calculated >= 0:
        calculated = calculated // 3 - 2
        if calculated >= 0:
            new_calculated = new_calculated + calculated
    return new_calculated

In [49]:
day1['new_calculated'] = day1['calulated'].apply(more_mass)

In [50]:
day1.head(10)

     mass  calulated  new_calculated
0  141589      47194           70762
1   93261      31085           46598
2  104320      34771           52127
3   81961      27318           40949
4   99212      33068           49574
5   80661      26885           40298
6   78734      26242           39338
7   76783      25592           38358
8  148694      49562           74311
9  114382      38125           57158

In [51]:
day1['new_calculated'].sum()

5128195

In [ ]:
5128195

In [46]:
more_mass(47194)

15729 62923
5241 68164
1745 69909
579 70488
191 70679
61 70740
18 70758
4 70762
-1 70761

70761